// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Variable pour le projet
// Couleurs principales d'identité
$color-primary: #56E343;        // Couleur identitaire principale
$on-primary: #1c1c1c; // Couleur du texte ou icônes
$tertiary: #d6d6d6; 

// Couleurs secondaires
$secondary: #ff6600;      // Couleur complémentaire
$on-secondary: #1c1c1c;   // Couleur du texte ou icônes

// Couleurs de surface
$surface: #121212;        // Fond des cartes, sections, encarts )
$on-surface: #fdfdff;     // Texte ou icônes affichés sur une surface

// Couleurs de fond global
$background: #F4F4F4;     // Fond général du site
$on-background: #1c1c1c;  // Texte ou icônes affichés sur le fond général
