// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Variable pour le projet
// Couleurs principales d'identité
$primary: #27FB6B;        // Couleur identitaire principale
$on-primary: #fdfdff;     // Couleur du texte ou icônes

// Couleurs secondaires
$secondary: #0a192f;      // Couleur complémentaire
$on-secondary: #fdfdff;   // Couleur du texte ou icônes

// Couleurs de surface
$surface: #212121;        // Fond des cartes, sections, encarts )
$on-surface: #fdfdff;     // Texte ou icônes affichés sur une surface

// Couleurs de fond global
$background: #121212;     // Fond général du site
$on-background: #fdfdff;  // Texte ou icônes affichés sur le fond général
