<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2019/12/17/10/04/glow-4701292_1280.jpg);">
  <h1>Les événements du club</h1>
</div>

<% @events.each do|event|  %>
<ul>
  <li><%= event.name %></li>
</ul>
<% end %>
