.style-g-login {
  background-color: $background;
  color: $on-background;
  height: 100vh;
}

.nav-link-login {
  display: inline-block; // pour que transform fonctionne
  color: $secondary;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05); // Agrandissement
  }
}
