<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/11/29/13/17/coffee-1869772_1280.jpg);">
  <h1>Les articles</h1>
</div>

<% @articles.each do |article| %>
  <ul>
    <li>
      <%= article.title %>
    </li>
  </ul>
<% end %>
