<h1>Bonjour <%= current_user.first_name %></h1>
<h2>Bienvenue sur votre tableau de bord administrateur</h2>

<h3>Les événements</h3>
<% @events.each do |event| %>
<ul>
  <li><%= event.name %></li>
</ul>
<% end %>
<%= link_to new_admin_event_path, class: "btn btn-primary", aria: { label: "Créer un nouvel événement" } do %>
<i class="fas fa-plus"></i>
<% end %>
