<h1><%= @article.title %></h1>

<p><%= image_tag(@article.image) if @article.image.attached? %></p>
<p><%= @article.content %></p>

<%= link_to root_path, class: "btn btn-primary", aria: { label: "Retour à l'accueil"} do %>
  <i class="fas fa-home"></i>
<% end %>
