<footer class="footer py-2 mt-5">
  <div class="container text-center">
    <p class="mb-1">&copy; <%= Time.current.year %> MCNC - Motocross Club de Navès Castres</p>
    <p class="mb-2">Tous droits réservés</p>
    <div>
      <%= link_to "Mentions légales", mentions_legales_path, class: "mx-2" %>|
      <%= link_to "Politique de confidentialité", politique_confidentialite_path, class: "mx-2" %>|
      <%= link_to "Contact", "#", class: "mx-2" %>
    <div class="mt-2 social-icons">
      <a href="https://www.facebook.com/profile.php?id=100082078692790" target="_blank" class="mx-2">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/motoclub_naves81/" target="_blank" class="mx-2">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
    </div>
  </div>
</footer>
