<div class="container d-flex justify-content-center align-items-start py-5">
  <div class="card-signup shadow p-4 p-md-5 rounded-4 w-100">
    <div class="d-flex justify-content-center mb-4">
      <h1 class="text-center">
        <strong>Création de la fiche du club</strong>
      </h1>
    </div>

    <%= render "form" %>
