<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Rejoignez le <strong>club</strong> de motocross<strong> NXR</strong></h1>
    <div class= "mt-4">
      <%= link_to "Créer un compte", new_user_session_path, class: "btn-nxr mt-4" %>
      <%= link_to "En savoir plus", new_user_session_path, class: "btn-nxr-orange" %>
    </div>

  </div>
</div>
