<div class="banner-hp" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2023/10/18/22/48/ai-generated-8325216_1280.png);">
  <div class="container">
    <h1>Rejoignez le <strong>club</strong> de motocross<strong> NXR</strong></h1>
    <div class= "mt-4">
      <%= link_to "Créer un compte", new_user_registration_path, class: "btn-nxr" %>
      <%= link_to "En savoir plus", new_user_session_path, class: "btn-nxr-orange" %>
    </div>
  </div>
</div>
