.btn-nxr,
input[type="submit"].btn-nxr {
  background-color: $color-primary;  // Couleur principale
  color: $on-primary; // Couleur du texte
  font-weight: 700;
  border: none;                      // Enlève la bordure Bootstrap
  border-radius: 50rem;              // Effet pill
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-primary;
    transform: scale(1.05); // Agrandissement
  }
}

.btn-nxr-orange {
  background-color: $secondary;  // Couleur principale
  color: $on-secondary; // Couleur du texte
  font-weight: 700;
  border: none;                      // Enlève la bordure Bootstrap
  border-radius: 50rem;              // Effet pill
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-secondary;
    transform: scale(1.05); // Agrandissement
  }
}
