.btn-nxr,
input[type="submit"].btn-nxr {
  background-color: $color-primary;
  color: $on-primary;
  display: inline-block;
  font-weight: 700;
  border: none;
  border-radius: 50rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-primary;
    transform: scale(1.03);
  }
}

.btn-nxr-orange {
  background-color: $secondary;
  color: $on-secondary;
  display: inline-block;
  font-weight: 700;
  border: none;
  text-decoration: none;
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-secondary;
    transform: scale(1.03);
  }
}

.btn-nxr-hp-reverse-green {
  background-color: $on-background;
  color: $color-primary;
  display: inline-block;
  font-weight: 500;
  border: $color-primary 2px solid;
  text-decoration: none;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-nxr-hp-reverse-orange {
  background-color: $on-background;
  color: $secondary;
  display: inline-block;
  font-weight: 500;
  border: $secondary 2px solid;
  text-decoration: none;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-login-green {
  background-color: $color-primary !important;
  color: $on-primary !important; // ton texte foncé (#1c1c1c)
  border-radius: 2rem !important;
  padding: 0.5rem 1.5rem !important;
  font-weight: 600 !important;
  transition: all 0.2s ease;

  &:hover {
    background-color: darken($color-primary, 10%) !important;
    color: $on-primary !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba($color-primary, 0.3);
  }

  @media (max-width: 576px) {
    // version plus discrète en mobile
    border-radius: 0.375rem !important;
    padding: 0.5rem 1rem !important;
    box-shadow: none !important;
    transform: none !important;
  }
}

.btn-edit-orange {
  color: $color-warning;
  border-color: $color-warning;

  &:hover {
    background-color: $color-warning;
    color: $on-color-warning;
  }
}

.btn-delete-red {
  color: $color-danger;
  border-color: $color-danger;

  &:hover {
    background-color: $color-danger;
    color: $on-color-danger;
  }
}

.btn-rejected,
input[type="submit"].btn-rejected {
  background-color: $color-danger;
  color: $on-primary;
  display: inline-block;
  font-weight: 700;
  border: none;
  border-radius: 50rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-primary;
    background-color: $color-danger;
    transform: scale(1.03);
  }
}

.btn-pending,
input[type="submit"].btn-warning {
  background-color: $color-warning;
  color: $on-primary;
  display: inline-block;
  font-weight: 700;
  border: none;
  border-radius: 50rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover {
    color: $on-primary;
    background-color: $color-warning;
    transform: scale(1.03);
  }
}
