.title-form-white {
  background-color: $on-surface;  // Couleur principale
  color: $on-primary; // Couleur du texte
  border: none;                      // Enlève la bordure Bootstrap
  border-radius: 50rem;              // Effet pill
  padding: 0.5rem 1rem;
}

