.navbar-lewagon {
  justify-content: space-between;
  background: $surface;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $on-surface;
}

.nav-link:hover {
  color: $on-primary;
  transform: scale(1.05);
}

.dropdown-item {
  background-color: $surface;
  color: $on-surface;
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  background-color: $color-primary; // Vert fluo au hover
  color: $on-primary; // Texte blanc cassé
}

.dropdown-menu{
  background-color: $surface;
}
