.text-tertiary {
  color: $tertiary
}
.text-secondary {
  color: $secondary;
}
.text-color-primary {
  color: $color-primary;
}
.text-on-surface {
  color: $on-surface;
}
.text-surface {
  color: $surface;
}
.text-danger {
  color: $color-danger;
}

legend.section-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: $on-surface;
  display: flex;
  align-items: center;
  gap: .5rem;
}
