// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "components/kaminari";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Gestion de la couleur de l'ensemble des halo des forms - pour simple form
.form-control:focus,
.form-select:focus {
  border-color: $color-primary;
  box-shadow: 0 0 0 0.25rem rgba(86, 227, 67, 0.329);
}

/* style checkbox orange NXR */
.form-check-input:checked {
  background-color: $secondary;   /* orange principal */
  border-color:   $secondary;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255,122,0,.25); /* halo focus orange */
}

body {
  background-color: $background;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, legend.section-title {
  font-family: $headers-font;
}
